.sechome{
    position: absolute;
    top: 130px;
    left: 30px;
    width: 800px;
    height: 600px;
}
.myImage1{
    position: absolute;
    top: 240px;
    right: 220px;
    width: 200px;
    height: 400px;
}
.btnsec{
     position: absolute;
    top: 130px;
    right: 530px;
    width: 150px;
    height: 80px;
    background-color:  #D2AEAE;
    border-bottom: 170px;
    border-bottom-right-radius: 50px;
}
.logout{
    position: absolute;
    top: 15px;
    right: 12px;
}
